{% extends "base.html" %}
{% block main %}
<form method="POST">
<br>
<div class="row">
    <div class="col-sm">
        <header class="major">
            <h2>Create a Publications Manifest</h2>
        </header>
    </div>    
    <div class="col-sm text-right">
        <button id="preview" class="btn btn-lg btn-outline-editorial">Preview</button>
        <button type="submit" id="save" class="btn btn-lg  btn-outline-editorial">Save</button>
    </div>
</div>
<ul class="nav nav-tabs" id="publicationsFormNav" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="required-tab" data-toggle="tab" href="#required" role="tab" aria-controls="required" aria-selected="true">Required Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="optional-tab" data-toggle="tab" href="#optional" role="tab" aria-controls="optional" aria-selected="false">Optional Properties</a>
    </li>
</ul>
<br>
<div class="tab-content" id="publicationsForm">
    <div class="tab-pane fade show active" id="required" role="tabpanel" aria-labelledby="required-tab">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="_id">_id</label>
            <div class="col-sm-10">
                <input name="_id" id="_id" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="publication">publication</label>
            <div class="col-sm-10">
                <input name="publication" type="text" required">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="description">description</label>
            <div class="col-sm-10">
                <textarea name="description" placeholder="Enter your text in Markdown." required></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="publisher">publisher</label>
            <div class="col-sm-10">
                <input name="publisher" type="text" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="date">date</label>
            <div class="col-sm-10">
                <textarea name="date" placeholder="List each date on a separate line. Date ranges should use the separate start and end dates with commas. Valid formats are YYYY-MM-DD and YYYY-MM-DDTHH:MM:SS." required></textarea>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="optional" role="tabpanel" aria-labelledby="optional-tab">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="edition">edition</label>
            <div class="col-sm-10">
                <input name="edition" id="edition" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="contentType">contentType</label>
            <div class="col-sm-10">
                <input name="contentType" id="contentType" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="language">language</label>
            <div class="col-sm-10">
                <select name="language" id="language">
                    {% for language in lang_list %}
                    <option value="{{ language }}" {{ 'selected="selected"' if language == 'eng' }}>{{ language }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="country">country</label>
            <div class="col-sm-10">
                <select name="country" id="country">
                    {% for country in country_list %}
                    <option value="{{ country }}" {{ 'selected="selected"' if country == 'US' }}>{{ country }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="authors">authors</label>
            <div class="col-sm-10">
                <textarea name="authors" id="authors" placeholder="List multiple authors on separate lines."></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">title</label>
            <div class="col-sm-10">
                <input name="title" id="title" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="altTitle">altTitle</label>
            <div class="col-sm-10">
                <input name="altTitle" id="altTitle" type="text">
            </div>
        </div>    
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="label">label</label>
            <div class="col-sm-10">
                <input name="label" id="label" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="notes">notes</label>
            <div class="col-sm-10">
                <textarea name="notes" id="notes" placeholder="List multiple notes on separate lines."></textarea>
            </div>
        </div>
    </div>
</div>
</form>
<!-- Preview -->
<div id="previewDisplay" style="display: none;">
    <br>
    <button id="hide" class="btn btn-lg btn-outline-editorial">Hide</button>
    <pre id="manifest"></pre>
</div>
{% endblock main %}