{% extends "base.html" %}
{% block main %}
<!-- Section -->
<a name="features"></a>
<section>
    <!-- <header class="major">
        <h2>Actions</h2>
    </header> -->
    <div class="features">
        <article>
            <a href="/publications/create" class="module"><span class="icon fa-book"></span></a>
            <div class="content">
                <h3>Create Publications Manifest</h3>
                <p>Create a new Publications manifest.</p>
            </div>
        </article>
        <article>
            <a href="/publications/display" class="module"><span class="icon fa-book"></span></a>
            <div class="content">
                <h3>Display Publications Manifest</h3>
                <div class="input-group input-group-sm"><input type="text" id="display" placeholder="Enter manifest name." class="form-control" aria-label="Enter _id to display." aria-describedby="go">
                  <div class="input-group-append">
                    <span class="input-group-text fa fa-search" id="go"></span>
                  </div>
              </div>
            </div>
        </article>
        <article>
            <a href="/publications/search" class="module"><span class="icon fa-book"></span></a>
            <div class="content">
                <h3>Search Publications</h3>
                <p>Search all publications.</p>
            </div>
        </article>    
        <article>
            <span class="icon fa-book"></span>
            <div class="content">
                <h3>Import Publications</h3>
                <p>Bulk import publications from Excel, .csv, or .tsv file.</p>
                <p><input id="fileupload" type="file" name="files[]" data-url="/publications/upload"></p>
                <div id="progress" style="display:none;">
                    <div class="bar" style="width: 0%;"></div>
                    <p id="progress-status">Uploading...</p>
                </div>
             </div>
        </article>
    </div>
</section>
{% endblock main %}
