{% extends "base.html" %}
{% block main %}
<br>
<div class="row">
    <div class="col-sm">
        <header class="major">
            <h2>To Do List</h2>
        </header>
    </div>    
</div>

<div class="row">
    <ul>
        <li>Add <code>Process</code> and <code>Script</code> forms. Note: Pending investigation of security issues, it is recommended that we just supply urls to scripts on GitHub.</li>
        <li>Add <code>Projects</code> (export functionality in <code>Corpus &gt; Display</code> produces a project archive minus the project manifest, so it should be easy to use as a base for the <code>Projects</code> module).</li>
        <li>Create tool to slice or combine collections. See the <a href="/thought-experiments/add-to-collection">thought experiment on this topic</a>.</a></li>
    </ul>
    <p>Note: The whole system needs more complete error checking.</p>
</div>
{% endblock main %}